@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Montserrat:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

.theme-light {
    --body-bg: #fff;
    --header-bg: rgb(232, 232, 232);
    --text-color: #000;
    --text-secondary: rgba(0, 0, 0, .8);
    --txt-bg: #000;
    --colored-btn: #fff;
    --color-primary: hsl(212 100% 48%);
    --color-secondary: hsl(213 96% 90%);
    --color-accent: #fd6f53;
    --font-color: #000000;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --options-color: hsl(240 5% 96);
    --border-color: rgb(30 41 59);
    --chat-color: grey;
    --chat-item-bg: #fff;
    --content-color: hsl(0 0 0);
    --premium-bg: hsl(317 100% 65%);
    --gradient-icon: linear-gradient(180deg, (40, 7%, 8%), hsla(40, 7%, 8%, 0.18));
}

.theme-dark {
    --body-bg: rgb(22, 21, 19);
    --header-bg: rgb(26, 26, 26);
    --text-color: #fff;
    --text-secondary: rgb(196, 196, 196);
    --txt-bg: #fff;
    --colored-btn: #000;
    --color-primary: hsl(212 100% 48%);
    --color-secondary: hsl(213, 59%, 15%);
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --border-color: rgb(30 41 59);
    --options-color: hsl(210 8% 9%);
    --chat-color: #fff;
    --chat-item-bg: hsl(210 8% 9%);
    --content-color: hsl(210 6% 93%);
    --premium-bg: hsl(190 95% 44%);
    --gradient-start-dark: #fff;
    --gradient-end-dark: red;
;
}

html,
body {
    width: 100%;
    box-sizing: border-box;

}

body {
    background-color: var(--body-bg);
}



header {
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: var(--header-bg);
    z-index: 5;
}

header .container {
    max-width: 1110px;
    margin: auto auto;
    height: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.burger__menu {
    display: none;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.burger__menu span,
.burger__menu::before,
.burger__menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--text-color);
    border-radius: 5px;
}

.burger__menu::after{
    width: 50%;
    left: 50%
}

.burger__menu::before,
.burger__menu::after {
    content: "";
}

.burger__menu::before {
    top: 0;
}

.burger__menu::after {
    bottom: 0;
}

.burger__menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.burger__menu._active span {
    transform: scale(0) translate(0px, -50%);
}

.burger__menu._active::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
}

.burger__menu._active::after {
    width: 100%;
    left: 0;
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
}

.header_logo svg {
    width: 40px;
    fill: var(--text-color);
}

.language-switcher {
    position: relative;
    display: inline-block;
}

.language-switcher #current-language {
    background-color: transparent;
    color: var(--text-color);
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.language-switcher .dropdown {
    position: absolute;
    top: 100%;
    left: -10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
    min-width: 60px;
    display: none;
    z-index: 1;
}

.language-switcher .dropdown button {
    width: 100%;
    padding: 8px 12px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.language-switcher .dropdown button:hover {
    opacity: .8;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul {
    display: flex;
    gap: 50px
}

header nav ul li {
    list-style-type: none;
    position: relative;
}

header nav ul li:before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--text-color);
    transition: all .3s ease;
}

header nav ul li a{
    text-decoration: none;
    color: var(--grey13);
    font-weight: 500;
}

header nav ul li:hover::before {
    width: 100%;

}

.header__btns {
    color: var(--grey14);
    border-radius: 30px;
    border: 1px solid var(--grey14);
    background-color: var(--grey5);
    padding: 15px 20px;
    cursor: pointer;
}

.header__btns:hover {
    color: var(--grey3);
    background-color: var(--white);
    border: 1px solid var(--grey13);
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    margin-left: 20px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*ABOUT ME*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0rem 4rem;
}

.section__about {
    padding-top: 100px;
}

.section__about .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.text__model {
    color: var(--white);
    text-align: center;
}

.text__model h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.15;
    text-align: inherit;
}

.mark {
    font-size: 3rem;
    line-height: 3.2rem;
    background: linear-gradient(to right, rgb(255, 134, 97), rgb(153, 51, 255)) text;
    color: transparent;
    font-weight: 800;
}

.section__about button {
    color: var(--grey14);
    border-radius: 30px;
    border: 1px solid var(--grey14);
    background-color: var(--grey5);
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.section__about button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: var(--grey12);
    opacity: .4;
    left: -25%;
    top: 1%;
    transform: skewX(-20deg);
}

.section__about button:hover:after {
    left: 100%;
    transition: all .4s;
}

.social__links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.social__item {
    border-radius: 60%;
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    cursor: pointer;
}

.social__item:hover {
    -webkit-box-shadow: inset 10px 10px 56px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 10px 10px 56px -38px rgba(255, 255, 255, 1);
    box-shadow: inset 10px 10px 56px -38px rgba(255, 255, 255, 1);
}

.social__item {
    padding: 15px;
}

.social__item img {
    width: 25px;
}

.btns {
    display: flex;
    gap: 40px;
}

.btn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.43;
    text-decoration: none;
    text-align: inherit;
    border-radius: 5rem;
    transition: 0.2s ease-in-out;
    border: 0.2rem solid var(--text-color);
    color: var(--text-color);
    text-align: center;
}

.btn.contact {
    background-color: var(--text-color);
    color: var(--colored-btn);
}

.btn.contact:hover {
    background-color: var(--body-bg);
    color: var(--text-color);
}

.btn.cv:hover {
    background-color: var(--text-color);
    color: var(--colored-btn);
}

.tech_stack {
    margin-top: 60px;
}

.tech_stack h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.15;
    text-align: center;
    color: var(--text-secondary);
    text-transform: uppercase;
}

.tech_stack ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.tech_stack ul li {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.tech_stack ul li svg {
    width: 100%;
    height: 100%;
}

.tech_stack ul li:hover {
    transform: scale(1.3);
}

/*SKILLS*/

.wrapp {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.15;
    text-align: inherit;
    color: transparent;
    background: linear-gradient(to right, rgb(255, 134, 97), rgb(153, 51, 255)) text;
}

.skills_section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
}

.skills_section ul li {
    position: relative;
    z-index: 1;
    display: flex;
    flex-grow: 0;
    padding: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: inherit;
    font-weight: 600;
    background: rgb(41, 41, 41);
    border-radius: 0.4rem;
    overflow: hidden;
}

.skills_section ul li::before {
    position: absolute;
    display: block;
    bottom: -45px;
    right: -60px;
    width: 50px;
    height: 50px;
    border-radius: 4rem;
    content: "";
    background: linear-gradient(to right, rgb(255, 134, 97), rgb(153, 51, 255));
    filter: blur(12px);
    transition: 0.35s ease-in-out;
}

.skills_section ul li:hover::before {
    bottom: -15px;
    right: -15px;
}

.skills_section ul li span {
    cursor: default;
    position: relative;
    z-index: 2;
    color: #fff;
}

.expirience_item {
    width: 100%;
    margin-top: 40px;
}

.expirience_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.expirience_title div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.expirience_title picture {
    height: 32px;
    width: 32px;
}

.expirience_title img {
    border-radius: 5px;
}

.expirience_title h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.15;
    text-align: inherit;
    color: var(--text-color);
}

.expirience_title p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: inherit;
    color: var(--text-color);
    opacity: .8;
}

.expirience_item h4 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.15;
    text-align: inherit;
    color: var(--text-color);
    margin-top: 40px;
}

.expirience_item ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style: none;
    margin-top: 20px;
}

.expirience_item ul li {
    position: relative;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: inherit;
    color: var(--text-color);
    opacity: .8;
}

.expirience_item ul li::before {
    position: absolute;
    left: 0px;
    content: "—";
}

footer {
    background-color: var(--header-bg);
    margin-top: 40px;
}

footer .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    padding: 4rem 2rem 5rem 0;
    margin: 0px auto;
    gap: 3.5rem;
}

footer h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.15;
    text-align: inherit;
    color: var(--text-color);
}

footer .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .info p {
    max-width: 675px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: inherit;
    color: var(--text-color);
}

footer .info a {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.55rem;
    text-decoration: none;
}

footer .info a::before {
    position: absolute;
    content: "";
    bottom: -0.5rem;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: var(--text-color);
    transition: 0.2s ease-in-out;
}

footer .info a:hover::before {
    width: 20%;
}

footer .info a svg path{
    stroke: var(--text-color);
}


@media(max-width: 1200px) {
    .person_3d_model {
        padding: 10px 40px;

    }

    .descr_item-right {
        max-width: 200px;
    }

    .right_active {
        right: 8%;
    }

    .descr_item-left {
        max-width: 200px;
    }

    .left_active {
        left: 8%;
    }

    .descr_item-left.html,
    .descr_item-right.jquery {
        top: 0%;
    }

    .descr_item-left.css,
    .descr_item-right.bootstrap {
        top: 20%;
    }

    .descr_item-left.js,
    .descr_item-right.git {
        top: 40%;
    }

    .descr_item-left.react,
    .descr_item-right.jira {
        top: 60%;
    }

    .descr_item-left.node,
    .descr_item-right.confluence {
        top: 78%;
    }
}


@media(max-width: 769px)
{
    html{
        font-size: 14px;
    }

    .container{
        padding: 0 2rem;
    }
    .text__model h1,
    .text__model .mark{
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    
    .tech_stack,
    .wrapp {
        margin-top: 40px;
    }

    .tech_stack h2{
        font-size: 1.2rem;
    }

    .tech_stack ul{
        margin-top: 20px;
    }
}

@media(max-width: 767px) {
    .container{
        padding: 0 1rem;
    }

    header nav ul {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: var(--header-bg);
        align-items: center;
        padding-top: 20px;
        transition: all .3s ease;
        gap: 20px;
    }

    .switch{
        margin-left: 0;
    }

    header nav ul._active{
        right: 0;
    }

    .burger__menu {
        display: block;
    }

    .text__model h1, .text__model .mark {
        font-size: 1.9rem;
        line-height: 2.2rem;
    }

    .section__about .wrapper{
        gap: 2rem;
    }

    .btns{
        flex-direction: column;
        gap: 1rem;
    }
    
    .tech_stack ul{
        gap: 20px;
    }

    .skills_section ul li{
        padding: 0.5rem;
    }

    .skills_section ul li span{
        font-size: 1rem;
    }

    .expirience_title{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px
    }

    .expirience_item h4 {
        margin-top: 20px;
    }
    

    footer .wrapper{
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 424px) {
    .skill__item {
        padding: 10px;
        border: 1px solid #fff;
        cursor: pointer;
    }

    .skill__item img {
        width: 40px;
        height: 40px;
    }

    .text__model h1, .text__model .mark {
        font-size: 1.5725rem;
        line-height: 1.8rem;
    }
}

@media(max-width: 374px) {
    .skill__item {
        padding: 5px;
        border: 1px solid #fff;
        cursor: pointer;
    }

    .skill__item img {
        width: 35px;
        height: 35px;
    }

    .tech_stack ul{
        gap: 10px;
    }

    .text__model h1, .text__model .mark {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

.mobile__menu._active {
    left: 0%;
    transition: all .5s ease 0s;
}

.hide {
    display: none;
}